body{
    background-color: #34495E;

    
    margin: auto;
}


header{
    background-color: #34495E;
    width: 1200px;
    margin: auto;
}


th {
    /* border: gray solid; */
   
    text-align: center;    width: 1.5cm;
    background-color: #34495E;
    color: #dd5;
    font-family: 'Fjalla One', sans-serif;
    padding: 8px 16px;
    margin: 8px;
}


td{
text-align: center;    width: 1.5cm;
background-color: #34495E;
color: #ffff;
font-family: 'Fjalla One', sans-serif;
padding: 8px 16px;
margin: 8px;
font-weight: lighter;
}

#shops{
    position: relative;
    margin: auto;
    left: 30px;
    top: 50px;
    max-width: 1100px;
    border:solid #dd5;
    ;
}


 form{
    margin: 30px auto;
    width: 500px;

}

.inputs{
    margin: 10px auto;
    width: 200px;
    background-color: lightblue;

}
label{
    display: inline-block;
    width: 200px;
    color: oldlace;
}

#submit{
    position: relative;
    /* top: -43px; */
    left: 200px;
    margin: 10px;}


ul,li,a{
    display:inline-block;
    margin: 10px;
    color: #dd5;

}


a :hover{
    text-decoration: underline;
}

#head :hover{
    text-decoration: underline;
}
fieldset{
    border:solid #dd5;
    position: relative;
    margin: auto;
    bottom: 50px
}