table,td, th{
    border: solid black 1px;
}

th {
    border: gray solid;
    width: 2cm;
}


td{
    border: red solid;
    width: 2cm;
}

#shops{
    position: relative;
    margin: auto;
    left: 50px;
    top: 300px;
}


form{
    margin: auto;
    width: 500px;
}

/* .inputs{
    margin: auto;
    max-width: 300px;
}
label{
    display: block;
    width: 200px;
    margin: auto;
} */

