table,td, th{
    border: solid black 1px;
}

th {
    border: gray solid;
    width: 2cm;
}


td{
    border: red solid;
    width: 2cm;
}

#shops{
    position: relative;
    margin: auto;
    left: 50px;
    top: 300px;
}


form{
    margin: auto;
    width: 500px;
}

.inputs{
    margin: 10px auto;
    width: 200px;
    background-color: lightgray;

}
label{
    display: inline-block;
    width: 200px;
}

#submit{
    position: relative;
    /* top: -43px; */
    left: 200px;
    margin: 10px;}


