/* th{ 
    border:5px double black;
    font-style: italic;
    font-size: large;
    width: 1000px;
    padding: 10px;
}

tr{
    display: block;
    border:5px double black;
    max-width: 1000px;

    font-style: italic;
    font-size: large;
    padding: 10px;
}
tablerow{
    border:5px dashed black;

}
td{

    border:5px dashed black;
    /* min-width: 66px; */

 